@import "src/styles/mixins";
@import "src/styles/vars";

.table {
  animation-name: appear;
  animation-duration: 0.2s;

  td {
    border-right: 1px solid $white;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
